<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
</head>
<body>
    <container class="wrapper">
        <main class="picture big">
            <img src="images/pexels-stein-egil-liland-3408744.jpg" width="650px" height="450" alt="nature">
            <h2>Seamlessy visualize quality</h2>
            <p>Lorem ipsum dolor sit, amet consectetur 
                adipisicing elit. Nihil incidunt enim sunt!</p>
            <button>Here's why</button>
        </main>
        <!-- picture on the left -->
        <aside class="picture on-side">
            <img src="images/pexels-jeremy-bishop-2422915.jpg" class="downside-img" alt="bishop">
            <h2>Completely Synergize</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos consequuntur 
                voluptatem officia inventore similique, 
                aut molestiae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, dolorum iste deserunt ex quae expedita! Porro, sunt perferendis. Blanditiis quasi vitae minima harum soluta est consectetur nam, rerum fuga repudiandae.</p>
            <button id="secondary">Here's how</button>
        </aside>

        <!-- bottom pics-->

        <div class="picture bottom-left">
            <img class="downside-img" src="images/pexels-amine-m'siouri-3284167.jpg" alt="">
            <h2>Dynamically procastinate</h2>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos consequuntur 
                voluptatem officia inventore similique, 
                aut molestiae.</p>
            <button id="secondary">Read more</button>
        </div>

        <div class="picture bottom-center">
            <img src="images/pexels-michael-block-3225529.jpg" alt="" class="downside-img">
            <h2>Best in class</h2>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos consequuntur 
                voluptatem officia inventore similique, 
                aut molestiae.</p>
            <button id="secondary">Just do it..</button>
        </div>
        <div class="picture bottom-right">
            <img class="downside-img" src="images/pexels-jacob-colvin-1757363.jpg" alt="">
            <h2>Dynamically innovate supply chains</h2>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos consequuntur 
                voluptatem officia inventore similique, 
                aut molestiae.</p>
            <button id="secondary">Here's how</button>
        </div>


    </container>
</body>
</html>