body{
    margin: 0;
    font-family: arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 17px;
    color: burlywood;
    line-height: 1.6;
}

#showcase{
    background-image: url(http://traversymedia.com/downloads/assets/beachshowcase.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}